$15^{th}$ Jul 2021

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import glob, os, re
import matplotlib.pyplot as plt
from datetime import  datetime
from ipywidgets import widgets, interactive

In [2]:
dt = datetime.today().strftime(format='%d-%m-%Y')

### **Establish parent directory**

In [3]:
#uniqueness in directory and file names is assumed for all analyses
sars_dir = "SARS-CoV-2"
home_dir = os.getenv('HOME')
parent_dir = glob.glob(f'{home_dir}/**/{sars_dir}', recursive=True)[0]

In [4]:
cols_of_interest = ['CASE_ID','SAMPLE_NUMBER', 'NAME', 'AGE', 'AGE_UNIT', 'GENDER', 'OCCUPATION', 'NATIONALITY', 
           'COUNTY_OF_RESIDENCE', 'SUB_COUNTY_OF_RESIDENCE', 'HAS_TRAVEL_HOSTORY', 'TRAVEL_FROM', 
           'QUARANTINE_FACILITY/HOSPITAL/HOMESTEAD', 'SYMTOMS_SHOWN', 'DATE_OF_SAMPLE_COLLECTION', 
           'DATE_SAMPLE_RECEIVED_IN_THE_LAB', 'RESULT', 'LAB_CONFIRMATION_DATE']

In [5]:
files = os.listdir(glob.glob(f'{parent_dir}/**/ResultsDBCurated', recursive=True)[0])
files = sorted(files)

In [6]:
def rename_cols_subset_df(df, cols):
    df_new = df.copy()
    df_new.columns = list(map(lambda x: x.split('(')[0].strip(' _'), [col.replace(' ', '_').replace('\n', '_').upper() for col in df.columns]))
    df_cln = df_new[df_new['SAMPLE_NUMBER'].notna()]
    return df_cln[cols]

In [7]:
# keyerrors = []
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = rename_cols_subset_df(df_file, 'DATE_SAMPLE_RECEIVED_IN_THE_LAB')
# #         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [8]:
# files = ['COVID-19-Test_result_Reporting_01_07_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_01_07_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_05_09_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_05_09_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_08_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_15_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_31_07_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_31_07_2020-B.xlsx']

In [9]:
# for file in files:
#     df = pd.read_excel(f'{data_dir}/{file}', header=1)
#     try:
#         df.insert(27, 'DATE SAMPLE RECEIVED IN THE LAB', pd.NaT)
#         df.to_excel(f'/home/douso/Documents/TrendData/Results/add_col/{file}', index=False, startrow=1)
#     except:
#         raise
#         print (f'Error: {file}')
#     finally: pass

In [10]:
# keyerrors = []
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = rename_cols_subset_df(df_file, cols_of_interest)
#         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [11]:
headers = ['TESTING LAB', 'CASE ID', 'TYPE OF CASE',
       'SAMPLE NUMBER', 'NAME', 'ID/PASSPORT NUMBER', 'AGE',
       'AGE UNIT', 'GENDER', 'PHONE NUMBER',
       'OCCUPATION', 'NATIONALITY', 'COUNTY OF RESIDENCE',
       'SUB COUNTY OF RESIDENCE', 'VILLAGE/ESTATE OF RESIDENCE', 'WARD',
       'COUNTY OF DIAGNOSIS', 'HAS TRAVEL HOSTORY',
       'TRAVEL FROM', 'CONTACT WITH CASE Y/N', 'CONFIRMED CASE NAME',
       'QUARANTINE FACILITY/HOSPITAL/HOMESTEAD', 'HAVE SYMPTOMS Y/N',
       'DATE OF ONSET OF SYMPTOMS', 'SYMTOMS SHOWN',
       'SAMPLE TYPE',
       'DATE OF SAMPLE COLLECTION', 'DATE SAMPLE RECEIVED IN THE LAB',
       'RESULT', 'LAB CONFIRMATION DATE']

In [12]:
id_headers = ['SAMPLE_NUMBER', 'NAME', 'ID/PASSPORT_NUMBER', 'AGE',
       'AGE_UNIT', 'GENDER', 'PHONE_NUMBER', 'RESULT',
       'LAB_CONFIRMATION_DATE']

In [13]:
# for file in keyerrors[:-1]:
#     df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#     df_file.columns = headers
#     df_file.to_excel(f'{data_dir}/add_col2/{file}', startrow=1)

The following 60 sheets, besides some June sheets (manually fixed earlier), lacked the `DATE_SAMPLE_RECEIVED_IN_THE_LAB` column, it was added for uniformity:

- 'COVID-19-Test_result_Reporting_01_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_01_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_02_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_06_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_06_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_08_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_08_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_09_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_09_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_10_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_11_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_12_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_13_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_13_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_14_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_14_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_15_08_2020-A.xlsx'
- 'COVID-19-Test_result_Reporting_15_08_2020-B.xlsx'
- 'COVID-19-Test_result_Reporting_16_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_16_10_2020 (1).xlsx'
- 'COVID-19-Test_result_Reporting_17_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_17_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_18_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_18_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_19_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_19_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_20_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_20_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_22_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_23_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_08_2020-A.xlsx'
- 'COVID-19-Test_result_Reporting_24_08_2020-B.xlsx'
- 'COVID-19-Test_result_Reporting_25_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_25_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_08_2020.xlsx'

In [14]:
# for file in files:
#     df = pd.read_excel(f'{data_dir}/{file}', header=1)
#     try:
#         df.insert(27, 'DATE SAMPLE RECEIVED IN THE LAB', np.nan)
#         df.to_excel(f'{data_dir}/add_col/{file}', index=False, startrow=1)
#     except:
#         raise
#         print (f'Error: {file}')
#     finally: pass

The follwing sheets have missing values for the `RESULT` column:
- 'COVID-19-Test_result_Reporting_20_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_16_06_2020.xlsx'

Updated column names of some of the Jun files ['GENDER_(M/F)', 'LAB_CONFIRMATION_DATE', 'RESULT']

In [15]:
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     if file.endswith('.xlsx'):
#         try:
#             df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#             df_data = rename_cols_subset_df(df_file, cols_of_interest)
#             df_raw = df_raw.append(df_data)
#             count += 1
#         except: 
#             if KeyError:
# #                 raise
#                 print(f'KeyError: {file}')
#             elif ValueError:
#                 print(f'ValueError: {file}')
#         finally: pass
#     pass
# print(f'Files processed: {count}')
# print(f'Files in the folder: {len(files)}')

### Travel History Missing - the HOSTORY misspelling

- COVID-19-Test_result_Reporting_09_09_2020.xlsx
- COVID-19-Test_result_Reporting_11_09_2020.xlsx
- COVID-19-Test_result_Reporting_12_09_2020.xlsx
- COVID-19-Test_result_Reporting_14_09_2020.xlsx
- COVID-19-Test_result_Reporting_15_09_2020.xlsx
- COVID-19-Test_result_Reporting_18_10_2020.xlsx
- Files processed: 249
- Files in the folder: 256

In [16]:
# keyerrors = []
# # df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = rename_cols_subset_df(df_file, cols_of_interest)
# #         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [17]:
# files = ['COVID-19-Test_result_Reporting_09_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_11_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_12_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_14_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_15_09-2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_10_2020.xlsx']

In [18]:
# for file in files:
#     df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#     (df_file.rename(columns={'HAS TRAVEL HISTORY(LAST 14 DAYS) Y/N': 'HAS TRAVEL HOSTORY(LAST 14 DAYS) Y/N'}, errors='raise').
#     to_excel(f'{data_dir}/rename_col/{file}', index=False, startrow=1))

### Start of find repeat tests

sorted(list(set(map(lambda x: x.replace('_', ' '), id_headers)) & set(headers))) == sorted(list(map(lambda x: x.replace('_', ' '), id_headers)))

df_raw_ids = pd.DataFrame()
count = 0
for file in files:
    if file.endswith('.xlsx'):
        try:
            df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
            if (sorted(list(set(map(lambda x: x.replace('_', ' '), 
                id_headers)) & set(headers))) == sorted(list(map(lambda x: 
                x.replace('_', ' '), id_headers)))):
                df_data = rename_cols_subset_df(df_file, id_headers)
                df_raw_ids = df_raw_ids.append(df_data)
                count += 1
            
        except: 
            if KeyError:
                print(f'KeyError: {file}')
                raise
                print(f'KeyError: {file}')
            elif ValueError:
                print(f'ValueError: {file}')
        finally: pass
    pass
print(f'Files processed: {count}')
print(f'Files in the folder: {len(files)}')

df_raw_ids['LAB_CONFIRMATION_DATE'] = df_raw_ids['LAB_CONFIRMATION_DATE'].apply(lambda x: pd.to_datetime(x, errors='coerce'))

df_raw_ids.info()#pd.to_datetime('2021-01-01 00:00:00', errors='coerce')

df_2021 = df_raw_ids[df_raw_ids['LAB_CONFIRMATION_DATE'] > pd.to_datetime('2021-01-01')]# & df_raw_ids['LAB_CONFIRMATION_DATE'] < pd.to_datetime(datetime.now())]
df_2021.shape

df_2021['ID/PASSPORT_NUMBER']=df_2021['ID/PASSPORT_NUMBER'].astype(str).apply(lambda x: x.replace('.0', ''))

df_2021[df_2021.sort_values('ID/PASSPORT_NUMBER', ignore_index=True).duplicated(['ID/PASSPORT_NUMBER'], False)==True].sort_values('ID/PASSPORT_NUMBER').drop_duplicates(keep=False).sort_values('ID/PASSPORT_NUMBER').to_excel('../SomeFIle.xlsx')#dropna(subset=['ID/PASSPORT_NUMBER'])

pd.to_datetime(datetime.now())

df_raw_ids['PHONE_NUMBER']=df_raw_ids['PHONE_NUMBER'].apply(lambda x: str(x).lstrip('0').replace('.0', ''))

df_ids_phone = df_raw_ids[(df_raw_ids
             .sort_values('PHONE_NUMBER', ignore_index=True)#, key=lambda col: col.astype(str))
            .duplicated(['PHONE_NUMBER'], keep=False)) == True]
df_ids_phone.shape

phones = df_ids_phone.dropna(subset=['PHONE_NUMBER'])
phones.shape

phones = df_ids_phone[df_ids_phone['PHONE_NUMBER'].isna() == False].sort_values('PHONE_NUMBER', key=lambda col: col.astype(str))
phones.shape

phones.head()#['PHONE_NUMBER']=phones['PHONE_NUMBER'].astype(str).apply(lambda x: x.rstrip('.0'))

phones2 = phones.sort_values('PHONE_NUMBER').drop_duplicates('PHONE_NUMBER', False)
phones2.shape

phones2_list = list(phones2['PHONE_NUMBER'])

df_phones_rep = phones[phones['PHONE_NUMBER'].isin(phones2_list) == False].sort_values('SAMPLE_NUMBER').drop_duplicates(['SAMPLE_NUMBER'], False).sort_values('PHONE_NUMBER')
df_phones_rep = df_phones_rep[df_phones_rep.duplicated('PHONE_NUMBER', False) == True]
df_phones_rep.shape

df_phones_rep1 = df_phones_rep.drop(df_phones_rep[df_phones_rep['PHONE_NUMBER'].str.contains('ndicat')].index)

df_phones_rep2 = df_phones_rep1.drop(df_phones_rep1[df_phones_rep1['PHONE_NUMBER'].str.contains('il')].index)
df_phones_rep2.head()

df_phones_rep3 = df_phones_rep1.drop(df_phones_rep1[df_phones_rep1['PHONE_NUMBER'].str.contains('nan')].index)
df_phones_rep3

df_ids_id = df_raw_ids[(df_raw_ids
             .sort_values(['ID/PASSPORT_NUMBER'], ignore_index=True, key=lambda col: col.astype(str))
            .duplicated(['ID/PASSPORT_NUMBER'], keep=False)) == True]

ids = df_ids_id[df_ids_id['ID/PASSPORT_NUMBER'].isna() == False].sort_values('ID/PASSPORT_NUMBER', key=lambda col: col.astype(str))

ids['ID/PASSPORT_NUMBER']=ids['ID/PASSPORT_NUMBER'].astype(str).apply(lambda x: x.rstrip('.0'))

ids.head()

ids2 = ids.sort_values('ID/PASSPORT_NUMBER').drop_duplicates('ID/PASSPORT_NUMBER', False)

ids2_list = list(ids2['ID/PASSPORT_NUMBER'])

df_ids_rep = ids[ids['ID/PASSPORT_NUMBER'].isin(ids2_list) == False].drop_duplicates(['SAMPLE_NUMBER'], False).sort_values('ID/PASSPORT_NUMBER')
df_ids_rep = df_ids_rep[df_ids_rep.duplicated('ID/PASSPORT_NUMBER', False) == True]

df_ids_rep1 = df_ids_rep.drop(df_ids_rep[df_ids_rep['ID/PASSPORT_NUMBER'].str.contains('ndicat')].index)

df_ids_rep2 = df_ids_rep1.drop(df_ids_rep1[df_ids_rep1['ID/PASSPORT_NUMBER'].str.contains('il')].index)
df_ids_rep2.sort_values(['ID/PASSPORT_NUMBER'])
print(df_ids_rep2.shape)
df_ids_rep2.head()

### End of find repeat tests

In [19]:
id_headers = ['SAMPLE_NUMBER', 'NAME', 'AGE',
       'AGE_UNIT', 'GENDER', 'RESULT',
       'LAB_CONFIRMATION_DATE']

In [20]:
df_raw = pd.DataFrame()
count = 0
for file in files:
    if file.endswith('.xlsx'):
        try:
            df_file = pd.read_excel(f"{glob.glob(f'{parent_dir}/**/ResultsDBCurated', recursive=True)[0]}/{file}", header=1)
            df_data = rename_cols_subset_df(df_file, cols_of_interest)
            df_raw = df_raw.append(df_data)
            count += 1
        except:
            if KeyError:
                print(f'KeyError: {file}')
#                 raise
                print(f'KeyError: {file}')
            if ValueError:
                print(f'ValueError: {file}')
#                 raise
        finally: pass
    pass
print(f'Files processed: {count}')
print(f'Files in the folder: {len(files)}')

/home/douso/.local/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

Files processed: 297
Files in the folder: 297

KeyError: COVID19_Reporting_06-10-2020.xlsx
KeyError: COVID19_Reporting_16-09-2020.xlsx
KeyError: COVID19_Reporting_17-09-2020.xlsx
KeyError: COVID19_Reporting_18-09-2020.xlsx
KeyError: COVID19_Reporting_19-09-2020.xlsx
KeyError: COVID19_Reporting_25-10-2020-A.xlsx
Files processed: 273
Files in the folder: 281

KeyError: COVID-19-Test_result_Reporting_06_10_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_16_09_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_17_09_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_18_09_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_19_09_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_25_10_2020-B.xlsx
KeyError: COVID19_Reporting_06-10-2020.xlsx
KeyError: COVID19_Reporting_16-09-2020.xlsx
KeyError: COVID19_Reporting_17-09-2020.xlsx
KeyError: COVID19_Reporting_18-09-2020.xlsx
KeyError: COVID19_Reporting_19-09-2020.xlsx
KeyError: COVID19_Reporting_24-10-2020-A.xlsx
KeyError: COVID19_Reporting_25-10-2020-A.xlsx
KeyError: COVID19_Reporting_27-10-2020.xlsx
Files processed: 265
Files in the folder: 281

In [21]:
# df_raw.head()

### **Clean Headers**

In [22]:
cols_rename = ['S_NUM', 'AGE', 'AGE_UNIT', 'GEND', 'OCCU', 'NAT', 'COUNT_RES', 'S_COUNT_RES', 'TRAV_HIST', 
                    'TRAV_FROM', 'QUAR_PLACE', 'SYMPS', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'RESULT', 'DT_CONF']

In [23]:
# df_raw.columns = cols_rename

### **Clean Sample Numbers**

In [24]:
def cov_names(x):
    x = x.upper().replace(' ', '')
    if len(x) == 8:
        x = x.replace('COVC', 'COVC0')
    elif len(x) == 7:
        x = x.replace('COVC', 'COVC00')
    elif len(x) == 6:
        x = x.replace('COVC', 'COVC000')
    elif len(x) == 5:
        x = x.replace('COVC', 'COVC0000')
    return x

In [25]:
cols_of_interest2 = ['CASE_ID', 'S_NUM', 'NAME', 'AGE', 'AGE_UNIT', 'GEND', 'OCCU', 'NAT', 'COUNT_RES', 'S_COUNT_RES', 'TRAV_HIST', 
                    'TRAV_FROM', 'QUAR_PLACE', 'SYMPS', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'RESULT', 'DT_CONF']

In [26]:
df_raw.to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-results-merged.xlsx", 
              index=False, header=cols_of_interest2)

In [27]:
df_mrg_mtdata = pd.read_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-results-merged.xlsx", usecols=cols_rename)

### **Clean Sample Name**

In [28]:
df_name = df_mrg_mtdata.assign(S_NUM=df_mrg_mtdata['S_NUM'].apply(lambda x: cov_names(x)))

In [29]:
df_name[df_name['S_NUM'].str.len() < 8]

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9721,COVE20,39,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
9722,COVE21,50,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
17678,NIL,40,Years,M,Nil,Kenya,Laikipia,Laikipia East,No,NaN,NTRH,NaN,2020-06-18 00:00:00,NaN,Negative,2020-06-20 00:00:00
25632,KEMRI-1,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25636,KEMRI-2,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25637,KEMRI-3,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25638,KEMRI-4,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25639,KEMRI-5,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25640,KEMRI-6,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25641,KEMRI-7,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25642,KEMRI-8,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25643,KEMRI-9,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,19-04-2021
25655,NPHL1,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021
25656,NPHL2,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021
25657,NPHL3,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021
25658,NPHL4,NaN,Years,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021

In [30]:
df_name[df_name['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9721,COVE20,39,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
9722,COVE21,50,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
17678,NIL,40,Years,M,Nil,Kenya,Laikipia,Laikipia East,No,NaN,NTRH,NaN,2020-06-18 00:00:00,NaN,Negative,2020-06-20 00:00:00
25248,DRC-BKV-723,56,Years,M,NaN,Democratic Republic of the Congo,Bukavu,NaN,NaN,NaN,NaN,CO;RN;LT;GW,NaN,02-08-2021,Positive,NaN
25249,DRC-BKV-212,NaN,Years,NaN,NaN,Democratic Republic of the Congo,Bukavu,NaN,NaN,NaN,NaN,NaN,NaN,02-08-2021,Positive,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26661,COVM01414,NaN,Years,NaN,NaN,NaN,NAIROBI,0,NaN,NaN,NaN,NaN,2021-05-31 00:00:00,2021-09-15 00:00:00,POSITIVE,2021-05-31 00:00:00
26662,COVM01415,NaN,Years,NaN,NaN,NaN,NAIROBI,0,NaN,NaN,NaN,NaN,2021-08-06 00:00:00,2021-09-15 00:00:00,POSITIVE,2021-08-06 00:00:00
26663,COVM01416,NaN,Years,NaN,NaN,NaN,NAIROBI,0,NaN,NaN,NaN,NaN,2021-08-06 00:00:00,2021-09-15 00:00:00,POSITIVE,2021-08-06 00:00:00
26664,COVM01417,NaN,Years,NaN,NaN,NaN,NAIROBI,0,NaN,NaN,NaN,NaN,2021-06-19 00:00:00,2021-09-15 00:00:00,POSITIVE,2021-06-19 00:00:00
26665,COVM01418,NaN,NaN,NaN,NaN,NaN,NAIROBI,0,NaN,NaN,NaN,NaN,NaN,NaN,POSITIVE,NaN

### **Clean Age**

In [31]:
df_name[df_name['AGE_UNIT'] == 'Days']

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
19026,COVC24532,6,Days,M,NaN,Kenya,Kisii,NaN,No,NaN,NaN,FC,2021-09-21 00:00:00,2021-09-23 00:00:00,Positive,2021-09-23 00:00:00

In [32]:
df_months = df_name[df_name['AGE_UNIT'] == 'Months']

In [33]:
df_months.head()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
620,COVC09555,11,Months,F,NaN,Kenya,Narok,RONGAI,No,NaN,NaN,NaN,2020-09-01 00:00:00,NaN,Negative,2020-09-02 00:00:00
1245,COVC02581,1,Months,M,Inmate,Uganda,Kiambu,Thika,N,NIL,Prison,NIL,2020-07-01 00:00:00,NaN,Negative,2020-07-03 00:00:00
1673,COVC17631,10,Months,F,NaN,Kenya,Kiambu,KIKUYU,No,NaN,NaN,NaN,2020-10-27 00:00:00,2020-10-03 00:00:00,Negative,2020-11-03 00:00:00
2524,COVC18026,6,Months,M,NaN,Kenya,Kiambu,THIKA,No,NaN,NaN,CO,2020-11-03 00:00:00,2020-11-04 00:00:00,Positive,2020-11-04 00:00:00
2681,COVC18183,19,Months,M,Child,Kenya,Kiambu,LIMURU,No,NaN,NaN,NaN,2020-11-03 00:00:00,2020-11-04 00:00:00,Negative,2020-11-04 00:00:00

In [34]:
df_mn2yrs = df_months.assign(AGE=df_months['AGE'].map(lambda x: round(x / 12, 1))).replace('Months', 'Years')

In [35]:
df_mn2yrs.head()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
620,COVC09555,0.9,Years,F,NaN,Kenya,Narok,RONGAI,No,NaN,NaN,NaN,2020-09-01 00:00:00,NaN,Negative,2020-09-02
1245,COVC02581,0.1,Years,M,Inmate,Uganda,Kiambu,Thika,N,NIL,Prison,NIL,2020-07-01 00:00:00,NaN,Negative,2020-07-03
1673,COVC17631,0.8,Years,F,NaN,Kenya,Kiambu,KIKUYU,No,NaN,NaN,NaN,2020-10-27 00:00:00,2020-10-03 00:00:00,Negative,2020-11-03
2524,COVC18026,0.5,Years,M,NaN,Kenya,Kiambu,THIKA,No,NaN,NaN,CO,2020-11-03 00:00:00,2020-11-04 00:00:00,Positive,2020-11-04
2681,COVC18183,1.6,Years,M,Child,Kenya,Kiambu,LIMURU,No,NaN,NaN,NaN,2020-11-03 00:00:00,2020-11-04 00:00:00,Negative,2020-11-04

In [36]:
df_name[df_name['AGE_UNIT'] == 'Days']#.AGE_UNIT.unique()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
19026,COVC24532,6,Days,M,NaN,Kenya,Kisii,NaN,No,NaN,NaN,FC,2021-09-21 00:00:00,2021-09-23 00:00:00,Positive,2021-09-23 00:00:00

In [37]:
df_not_months = df_name[df_name['AGE_UNIT'] != 'Months']

In [38]:
df_not_months.shape

(26589, 16)

In [39]:
df_mn2yrs.shape

(77, 16)

In [40]:
df_years = df_not_months.append(df_mn2yrs)

In [41]:
df_years.shape

(26666, 16)

In [42]:
df_years['AGE_UNIT'].unique()

array(['Years', 'YEARS', nan, 'years', 'Nil', 'Days'], dtype=object)

In [43]:
df_years[df_years['AGE_UNIT'] == 'NO PATIENT DATASHEET']

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [44]:
df_years[df_years['AGE_UNIT'].str.contains('M', 'F') == True]

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [45]:
df_years[df_years['AGE_UNIT'] == 'Nil']

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
15177,COVC04083,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15178,COVC04084,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15179,COVC04085,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Positive,2020-07-17 00:00:00
15180,COVC04086,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15181,COVC04087,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15182,COVC04088,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15183,COVC04089,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15184,COVC04090,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15185,COVC04091,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15186,COVC04092,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15187,COVC04093,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
16754,COVC01628,Nil,Nil,Nil,Nil,Nil,Nyeri,NaN,No,NaN,NaN,NaN,NaN,NaN,ms,2020-06-19 00:00:00

In [46]:
df_years_drop_age_unit = df_years.drop('AGE_UNIT', axis=1)

In [47]:
df_years_rencol = df_years_drop_age_unit.rename(columns={'AGE': 'AGE_YRS'})

In [48]:
df_years_rencol.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [49]:
df_years_rencol['AGE_YRS'].unique()

array([58, 63, 53, 52, 41, 9, 6, 39, 23, 36, 33, 42, 34, 32, 57, 56, 27,
       20, nan, 44, 26, 31, 35, 28, 37, 54, 29, 43, 24, 38, 47, 49, 40,
       51, 50, 25, 30, 45, 46, 22, 21, 48, 55, 65, 64, 60, 18, 16, 10, 17,
       15, 8, 13, 5, 12, 84, 59, 62, 68, 312, 61, 19, 69, 2, 86, 80, 72,
       11, 70, 88, 3, 4, 7, 74, 67, 87, 3.6, 1, 14, 1.5, 2.42,
       'None indicated', 73, 6.5, 2.5, 75, 97, 'Nil', 71, 89, 96, 82, 77,
       66, 'Not indicated', 743, 78, 76, 'None', 9.5, 83, 'nil', 79, 81,
       98, 'none indicated', 90, 85, 91, 100, 101, 92, 'not_indicated',
       5.5, 'Not Indicated', '37', '36', '40', '38', '29', 94, 105, 0.5,
       'not Indicated', '30', '44', '33', '27', '26', '51', '28',
       'None Indicated', 542, 0.8, 0.9, 0.1, 1.6, 1.1, 2.9, 3.7, 0.2, 1.7,
       0.3, 2.8, 0.7, 1.2, 2.1, 0.4, 4.5, 1.8, 0.6], dtype=object)

In [50]:
[x for x in df_years_rencol['AGE_YRS'].unique() if isinstance(x, str)]

['None indicated',
 'Nil',
 'Not indicated',
 'None',
 'nil',
 'none indicated',
 'not_indicated',
 'Not Indicated',
 '37',
 '36',
 '40',
 '38',
 '29',
 'not Indicated',
 '30',
 '44',
 '33',
 '27',
 '26',
 '51',
 '28',
 'None Indicated']

In [51]:
to_rep = ['None indicated',
 'Nil',
 'Not indicated',
 'None',
 'nil',
 'none indicated',
 'not_indicated',
 'Not Indicated',
 'not Indicated',
 'None Indicated',
 'NO PATIENT DATASHEET'
]

In [52]:
df_years_repnan2float = df_years_rencol.assign(AGE_YRS=df_years_rencol['AGE_YRS'].replace(to_rep, np.nan).astype(float))

In [53]:
df_years_repnan2float

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23037,COVC16100,1.0,F,NaN,Kenya,Nakuru,GILGIL,No,NaN,NaN,NaN,2020-10-23 00:00:00,2020-10-24 00:00:00,Negative,2020-10-28 00:00:00
23564,COVC16315,0.9,M,NaN,Kenya,Laikipia,LAIKIPIA WEST,No,NaN,NaN,FC;CO;D,2020-10-25 00:00:00,2020-10-27 00:00:00,Negative,2020-10-29 00:00:00
24146,COVC16833,0.8,M,NaN,Kenya,Nairobi,DONHOLM,No,NaN,NaN,NaN,2020-10-29 00:00:00,2020-10-29 00:00:00,Negative,2020-10-30 00:00:00
24402,COVC17089,0.6,M,NaN,Kenya,Mombasa,LIKONI,No,NaN,NaN,CO,2020-10-22 00:00:00,2020-10-27 00:00:00,Negative,2020-10-30 00:00:00
24825,COVC24323,0.8,F,NaN,Kenya,Nairobi,Kahawa Sukari,No,NaN,NaN,NaN,2021-08-31 00:00:00,2021-08-31 00:00:00,Negative,2021-08-31 00:00:00

### **Clean Gender**

In [54]:
df_years_repnan2float['GEND'].unique()

array(['M', 'F', 'f', 'Female', 'Male', 'F`', 'MALE ', 'MALE', nan, 'Nil',
       'T', 'm'], dtype=object)

In [55]:
df_years_repnan2float[df_years_repnan2float['GEND'].isna()].sort_values('S_NUM')

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
10102,COVC00749,42.0,NaN,Nil,Kenyan,Laikipia,Laikipia East,N,NaN,Nanyuki Teaching and Referral Hospital,Asymtomatic,9th June 2020,"June 11, 2020",Neg,2020-06-12 00:00:00
13154,COVC01037,30.0,NaN,Nil,Kenyan,Nairobi,Embaksi,N,NaN,Nil,Asymtomatic,Nil,2020-06-15 00:00:00,Neg,2020-06-15 00:00:00
18835,COVC04494,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
18836,COVC04495,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
18837,COVC04496,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25651,NPHL-12780,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021
25655,NPHL1,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021
25656,NPHL2,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021
25657,NPHL3,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021
25658,NPHL4,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,07-04-2021,Positive,19-04-2021

In [56]:
df_years_repnan2float[df_years_repnan2float['GEND'] == 'Nil']

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
11481,COVC00749,42.0,Nil,Nil,Kenyan,Laikipia,Laikipia East,N,NaN,Nanyuki Teaching and Referral Hospital,Asymtomatic,9th June 2020,"June 11, 2020",Neg,2020-06-12 00:00:00
16754,COVC01628,NaN,Nil,Nil,Nil,Nyeri,NaN,No,NaN,NaN,NaN,NaN,NaN,ms,2020-06-19 00:00:00

COVEs:
- COVC13844
- COVC13845
- COVC13846
- COVC13847
- COVC13848
- COVC13849
- COVC13850
- COVC13851
- COVC13852
- COVC13853
- COVC16256
- COVC16257

In [57]:
df_years_repgender = df_years_repnan2float.assign(GEND=df_years_repnan2float['GEND'].replace(['f', 'Female', 'F`', 'T'], 'F')
                                                 .replace(['Male', 'MALE ', 'MALE'], 'M'))

In [58]:
df_years_repgender['GEND'].unique()

array(['M', 'F', nan, 'Nil', 'm'], dtype=object)

In [59]:
df_years_repgender['GEND'].replace('Nil', np.nan, inplace=True)

In [60]:
df_years_repgender['GEND'].unique()

array(['M', 'F', nan, 'm'], dtype=object)

### **Clean Occupation**

In [61]:
df_years_repgender['OCCU'].unique()

array(['HCW', 'CEC', 'Psychologist', ..., 'Logistician', 'Hotel',
       'Child accompanying inmate mothe'], dtype=object)

In [62]:
df_years_repgender['OCCU'] = df_years_repgender['OCCU'].replace(['Nil','nil'], np.nan)

occu_dict = {'intial': 'ouso'}
occu_dict2 = occu_dict.copy()
for o in df_years_repgender['OCCU'].str.lower():
    print(o)
    keys = occu_dict.keys()
    if o not in keys:
        keys = occu_dict.keys()
        for k in keys:
            if len(set(k.split()) & set(str(o).split()))/len(str(o)) >= 0.5:
                occu_dict2[k]=[]
                occu_dict2[k].append(o)
            else:
                occu_dict2[o] = []
    else: pass

','.join(list('ouso')).split(',')

pd.Series(df_years_repgender['OCCU'].unique()).str.strip().str.lower().apply(lambda x: ','.join(list(str(x))).split(','))

In [63]:
series = pd.Series(df_years_repgender['OCCU'].str.strip().str.lower().unique()).to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-results-merged-occupations.xlsx", index=False)
# series

### **Clean Nationality**

In [64]:
df_years_repgender['NAT'].unique()

array(['Kenya', 'Ethiopia', 'Somalia', 'Uganda', 'South Africa', 'India',
       'Canada', 'Tanzania', 'Kenyan', 'United States of America (USA)',
       'Germany', 'Sudan', 'South Sudan', nan, 'Lebanon', 'Sweden',
       'Nigeria', 'Benin', 'United Kingdom (UK)', 'Netherlands', 'Cuba',
       'Indian', 'Ghana', 'Zimbabwe', 'Rwanda', 'Mauritania', 'Denmark',
       'Pakistan', 'Congo, Democratic Republic of the', 'Brazil',
       'Burundi', 'Italy', 'Australia', 'Colombia', 'Hungary', 'Djibouti',
       'Finland', 'Senegal', 'kenya', 'Yemen', 'Turkey', 'Philippines',
       'Japan', 'Ireland', 'Tunisia', 'Switzerland', 'Togo',
       'Burkina Faso', 'Portugal', 'Cameroon', 'Bangladesh', 'Madagascar',
       "Cote d'Ivoire", 'Egypt', 'China', 'KENYAN', 'Greece', 'Bulgaria',
       'Nil', 'Mozambique', 'Mali', 'Eritrea', 'Austria', 'Malawi',
       'France', 'Namibia', 'Tanzanian', 'Congo, Republic of the',
       'Zambia', 'Sri Lanka', 'United States', 'Jordan',
       'Democratic Republic of the Congo'], dtype=object)

In [65]:
df_years_repnat = df_years_repgender.assign(NAT=df_years_repgender['NAT'].replace('Nil', 'Unknown')
                                            .replace(['United States', 'Indian'
                                                      , 'Congo, Democratic Republic of the'
                                                     , 'Congo, Republic of the'] 
                                                     , ['United States of America (USA)','India'
                                                        , 'Democratic Republic of the Congo',
                                                       'Republic of the Congo'])
                                            .map(lambda x: str(x).replace(x, 'Kenya') if ('enya' in str(x).lower()) else x))

In [66]:
df_years_repnat['NAT'].unique()

array(['Kenya', 'Ethiopia', 'Somalia', 'Uganda', 'South Africa', 'India',
       'Canada', 'Tanzania', 'United States of America (USA)', 'Germany',
       'Sudan', 'South Sudan', nan, 'Lebanon', 'Sweden', 'Nigeria',
       'Benin', 'United Kingdom (UK)', 'Netherlands', 'Cuba', 'Ghana',
       'Zimbabwe', 'Rwanda', 'Mauritania', 'Denmark', 'Pakistan',
       'Democratic Republic of the Congo', 'Brazil', 'Burundi', 'Italy',
       'Australia', 'Colombia', 'Hungary', 'Djibouti', 'Finland',
       'Senegal', 'Yemen', 'Turkey', 'Philippines', 'Japan', 'Ireland',
       'Tunisia', 'Switzerland', 'Togo', 'Burkina Faso', 'Portugal',
       'Cameroon', 'Bangladesh', 'Madagascar', "Cote d'Ivoire", 'Egypt',
       'China', 'Greece', 'Bulgaria', 'Unknown', 'Mozambique', 'Mali',
       'Eritrea', 'Austria', 'Malawi', 'France', 'Namibia', 'Tanzanian',
       'Republic of the Congo', 'Zambia', 'Sri Lanka', 'Jordan'],
      dtype=object)

### **Clean County of Res**

In [67]:
df_years_repnat.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [68]:
counties = (df_years_repnat['COUNT_RES']
                   .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ', 'Niarobi']
                            , ['Unknown', 'Unknown', 'Unknown', 'Unknown', "Murang'a", "Murang'a", 'Nairobi'])
                   .apply(lambda x: str(x).strip().capitalize() if (isinstance(x, str)) else x)).fillna('Unknown')

In [69]:
'Nil' in list(counties)#.unique()

False

In [70]:
df_years_county = (df_years_repnat.assign(COUNT_RES=counties))#.assign(S_COUNT_RES=s_counties)

In [71]:
df_years_county['COUNT_RES'].unique()

array(['Nairobi', 'Kiambu', 'Kajiado', 'Machakos', 'Laikipia', 'Marsabit',
       'Makueni', "Murang'a", 'Isiolo', 'Migori', 'Garissa', 'Homabay',
       'Nakuru', 'Samburu', 'Mombasa', 'Unknown', 'Nyeri', 'Kisii',
       'Tana river', 'Kitui', 'Wajir', 'Nyandarua', 'Kirinyaga', 'Meru',
       'Uasin gishu', 'Siaya', 'Nyamira', 'Bungoma', 'Kakamega', 'Nandi',
       'Kilifi', 'Kwale', 'Uganda', 'Mandera', 'Kampala', 'Kisumu',
       'Badiere', 'Embu', 'Busia', 'Kigali', 'Mukono/uganda', 'Congo',
       'Vihiga', 'Narok', 'Kericho', 'Trans nzoia', 'Elgeyo marakwet',
       'Taita taveta', 'Bomet', 'Bukavu', 'Thika', 'Tharakanithi'],
      dtype=object)

### **Clean Subcounty of Res**

In [72]:
len(df_years_repnat['S_COUNT_RES'].str.lower().unique())

953

In [73]:
len((df_years_repnat['S_COUNT_RES']
     .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ']
                            , [np.nan, np.nan, np.nan, np.nan, "Murang'a", "Murang'a"])
                   .apply(lambda x: str(x).strip().capitalize())
     .unique()))

875

In [74]:
s_counties = (df_years_repnat['S_COUNT_RES']
     .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ']
                            , ['Unknown', 'Unknown', 'Unknown', 'Unknown', "Murang'a", "Murang'a"])
                   .apply(lambda x: str(x).replace(str(x), 'Unknown') if ('indicate' in str(x)) else str(x).strip().capitalize())
              .fillna('Unknown'))

In [75]:
# sorted([s for s in s_counties.unique()])

In [76]:
df_years_scounty = df_years_county.assign(S_COUNT_RES=s_counties)

### **Clean Travel History**

In [77]:
df_years_scounty.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [78]:
df_years_scounty['TRAV_HIST'].unique()

array(['No', nan, 'Yes', 'N', 'JH', 'no', 'NO ', 'Nil', 'YES', 'NONE ',
       'NONE', 'Y', 'y', 'yes', 15.93], dtype=object)

In [79]:
df_travl = df_years_scounty.assign(TRAV_HIST=df_years_scounty['TRAV_HIST'].replace([np.nan, 'N', 'no', 'NO', 'Nil', 'NONE ', 'NONE'], 'No')
           .replace(['YES', 'Y', 'y', 'yes'], 'Yes'))

In [80]:
df_travl['TRAV_FROM'].unique()

array([nan, 'ELDORET', 'TANZANIA', 'Nairobi',
       'Kendu-Bay;Kisii;Kisumu;Homabay;Oyugis', 'Mumias, Oyugis, Homabay',
       'NAIVASHA', 'NAIROBI;NYERI;NANYUKI', 'NIL', 'Ruaka', 'Ngoingwa',
       'Limuru', 'Thika', 'Embakasi', 'Uganda', 'Dubai', 'Nil',
       'Not indicated on form ', 'TORORO UGANDA', 'UGANDA', 'AWASI',
       'KIGALI', 'ENTEBE', 'NAIROBI', 'JINJA', 'KISUMU', 'KAMPALA',
       'KASESE', 'KILIFI COUNTY', 'KWALE COUNTY', 'KENDU BAY',
       'KISUMU, KITALE', 'HOMABAY', 'KISII, KISUMU', 'HOMABAY, KISII',
       'NYAHURURU; NANYUKI', 'TORORO', 'Kisii', 'KAMPALA UGANDA',
       'RWANDA', 'JINJA UGANDA', 'KAJIADO', 'NOT APPLICABLE ',
       'SOUTH SUDAN ', 'NYERI', 'NAIROBI,KISUMU,AWASI', 'OYUGIS',
       'KWALE;KILIFI', 'KAKAMEGA', 'KWALE', 'Mombasa', 'Eldoret',
       'Malindi', 'Uasin Gishu', 'N', 'Machakos', 'No', 'KILIFI/NAIROBI',
       'NANYUKI SAGANA', 'THARAKA NITHI', 'SHIMBA HILLS', 'KILIFI',
       'MACHAKOS', 'Netherlands', 'MIGORI', 'Nairobi;USA', 'USA',
       'Homa-Bay;Kisumu;Nairobi;Kerugoya-Kutus', 'KIMILILI, Maragua',
       'TAVETA', 'KIAMBU', 'KEROKA', 'ISABENIA', 'MWANZA', 'BUNDA',
       'MOMBASA', 'Mombasa (Stayed in Mtwapa for 4 days)', 'Nyamira',
       'Kericho', 'KINANGO MSAMBWENI', 'MERU', 'THIKA', 'MUHONIA',
       'KASESE UGANDA', 'KIRINYAGA', 'KISII,DARAJA SUNEKA',
       'NYAMIRA ,KIJAURI KISII', 'KISII SUNEKA KEROKA',
       'KISII KEROKA KERICHO', 'SUNEKA KISII ', 'KISII.SUNEKA',
       'OGEMBO KISII', 'KISII,MIGORI', 'KISII,JOGOO',
       'KISII KENDUBAY ,JOGOO', 'KISII,SUNEKA,KEROKA', 'KISII,SUNEKA',
       'KEUMBU KEROKA ,KISII', 'GESONSO,SUNEKA KISII',
       'KISII,JOGOO,SUNEKA', 'DAR ES SAALAM', 'Kisii;Nyamira', 'Narok',
       'Mwanza', 'Molo', 'Keroka', 'Bomet', 'Bungoma', 'Isebania',
       'Kisumu', 'Nakuru', 'Sirare', 'Kakamega', 'Busia', 'KERICHO',
       'KISII', 'KISII,KEROKA', 'KISII, SUNEKA', 'KISII.KRK.SUNEKA',
       'GESONSO SUNEKA', 'KISII MWEMBE', 'NYAMATARO KISII',
       'KISII  KEUMBU', 'MARANI KISII', 'NYAMIRA', 'NYANCHWA KISII',
       'ISANA', 'KISII.KEROKA', 'KISII, KEROKA ', 'KEROKA KISII',
       'TAITA TAVETA', 'Tanzania', 'not_indicated', 'ETHIOPIA',
       'Nyeri town', 'MALABA', 'NAKURU', 'Within Kenya', 'Tharakanithi',
       'Nyahururu', 'Nairobi and Kisumu', 'Meru', 'Nairobi, Nyahururu',
       'Nakuru, Meru', 'Nanyuki', 'Not applicable', 'Not indicated',
       'Kiambu', 'EMALI - MAKUENI', 'MAZERAS - KILIFI', 'Ngong', 'Tarbo',
       'Embu town', 'Nairobi and Busia', 'Mogadishu', 'AM'], dtype=object)

In [81]:
df_travl2 = (df_travl.assign(TRAV_FROM=df_travl['TRAV_FROM'].replace(['nan','NIL', 'Nil', 'Not indicated on form '
                  , 'NOT APPLICABLE ', 'N', 'N', 'No', 'not_indicated', 'Not applicable', 'Not indicated'],np.nan)
                    .replace(['Mombasa (stayed in mtwapa for 4 days)', 'KINANGO MSAMBWENI', 'Nan'
                              , 'Mombasa (Stayed in Mtwapa for 4 days)'], 
                    ['Mtwapa', 'Kinangop;Msambweni', np.nan, 'Mtwapa'])
                    .apply(lambda x: str(x).replace('/', ';')
                    .replace(' and ', ';')
                    .replace('-', ';')
                    .replace(',', ';')
                    .replace(' ; ', ';')
                    .replace('; ', ';')
                    .strip().capitalize() if (isinstance(x, str)) else x)))

In [82]:
df_travl2['TRAV_FROM'].unique()

array([nan, 'Eldoret', 'Tanzania', 'Nairobi',
       'Kendu;bay;kisii;kisumu;homabay;oyugis', 'Mumias;oyugis;homabay',
       'Naivasha', 'Nairobi;nyeri;nanyuki', 'Ruaka', 'Ngoingwa', 'Limuru',
       'Thika', 'Embakasi', 'Uganda', 'Dubai', 'Tororo uganda', 'Awasi',
       'Kigali', 'Entebe', 'Jinja', 'Kisumu', 'Kampala', 'Kasese',
       'Kilifi county', 'Kwale county', 'Kendu bay', 'Kisumu;kitale',
       'Homabay', 'Kisii;kisumu', 'Homabay;kisii', 'Nyahururu;nanyuki',
       'Tororo', 'Kisii', 'Kampala uganda', 'Rwanda', 'Jinja uganda',
       'Kajiado', 'South sudan', 'Nyeri', 'Nairobi;kisumu;awasi',
       'Oyugis', 'Kwale;kilifi', 'Kakamega', 'Kwale', 'Mombasa',
       'Malindi', 'Uasin gishu', 'Machakos', 'Kilifi;nairobi',
       'Nanyuki sagana', 'Tharaka nithi', 'Shimba hills', 'Kilifi',
       'Netherlands', 'Migori', 'Nairobi;usa', 'Usa',
       'Homa;bay;kisumu;nairobi;kerugoya;kutus', 'Kimilili;maragua',
       'Taveta', 'Kiambu', 'Keroka', 'Isabenia', 'Mwanza', 'Bunda',
       'Mtwapa', 'Nyamira', 'Kericho', 'Kinangop;msambweni', 'Meru',
       'Muhonia', 'Kasese uganda', 'Kirinyaga', 'Kisii;daraja suneka',
       'Nyamira ;kijauri kisii', 'Kisii suneka keroka',
       'Kisii keroka kericho', 'Suneka kisii', 'Kisii.suneka',
       'Ogembo kisii', 'Kisii;migori', 'Kisii;jogoo',
       'Kisii kendubay ;jogoo', 'Kisii;suneka;keroka', 'Kisii;suneka',
       'Keumbu keroka ;kisii', 'Gesonso;suneka kisii',
       'Kisii;jogoo;suneka', 'Dar es saalam', 'Kisii;nyamira', 'Narok',
       'Molo', 'Bomet', 'Bungoma', 'Isebania', 'Nakuru', 'Sirare',
       'Busia', 'Kisii;keroka', 'Kisii.krk.suneka', 'Gesonso suneka',
       'Kisii mwembe', 'Nyamataro kisii', 'Kisii  keumbu', 'Marani kisii',
       'Nyanchwa kisii', 'Isana', 'Kisii.keroka', 'Keroka kisii',
       'Taita taveta', 'Ethiopia', 'Nyeri town', 'Malaba', 'Within kenya',
       'Tharakanithi', 'Nyahururu', 'Nairobi;kisumu', 'Nairobi;nyahururu',
       'Nakuru;meru', 'Nanyuki', 'Emali;makueni', 'Mazeras;kilifi',
       'Ngong', 'Tarbo', 'Embu town', 'Nairobi;busia', 'Mogadishu', 'Am'],
      dtype=object)

In [83]:
df_travl2.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

### **Clean Symptoms**

- GW: General weakness
- FC: Fever/Chills
- CO: Cough
- ST: Sore throat
- RN: Runny nose
- SB: Shortness of breath/Difficulty in breathing
- D: Diarrhoea
- NV: Nausea/Vomiting
- H: Headache
- IC: Irritability/Confusion
- P: Pain
- LS: Loss of smell
- LT: Loss of taste
- P-M: Muscular pain
- P-A: Abdominal pain
- P-B: Back pain
- P-C: Chest pain
- P-J: Joint pain

In [84]:
df_travl2['SYMPS'] = (df_travl2['SYMPS'].apply(lambda x: str(x).replace(str(x), str(np.nan)) if ('symtom' in str(x)) else str(x).replace('F/C', 'FC'))
                      .replace(['[=]','nan'], np.nan)).fillna('Unknown')

### **Clean Dates**

In [85]:
def my_date_parser(x):
    try:
        if type(x) == pd.Timestamp:
            x = x#.strftime('%d-%m-%Y')
        if type(x) != pd.Timestamp and type(x) != (int, float, pd.NaT):
            x = pd.to_datetime(x, errors='ignore', dayfirst=True)#.strftime('%d-%m-%Y')
        if x in ['None indicated', 'NIL', 'Not indicated on form ',
                    'Nil', 'None indicated', 'Leaked Sample - Empty', 'nan']:
            x = pd.NaT
    except (ValueError, AttributeError):
        x = pd.NaT
    return x

In [86]:
df_dt1 = df_travl2.assign(DT_SAM_COLL=df_travl2['DT_SAM_COLL'].apply(lambda x: my_date_parser(x)))

In [87]:
df_dt2 = df_dt1.assign(DT_SAM_RECEP=df_dt1['DT_SAM_RECEP'].apply(lambda x: my_date_parser(x)))

In [88]:
df_dts_cln = df_dt2.assign(DT_CONF=df_dt2['DT_CONF'].apply(lambda x: my_date_parser(x)))

In [89]:
df_dts_cln.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,Unknown,2021-01-01,2021-01-01,Negative,2021-01-01
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31,2021-01-01,Negative,2021-01-01
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,NaN,NaN,Unknown,2021-01-01,2021-01-01,Negative,2021-01-01
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,NaN,NaN,CO;DIB,2021-01-02,2021-01-01,Negative,2021-01-01
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,NaN,NaN,CO;DIB,2021-01-03,2021-01-01,Positive,2021-01-01

### **Clean Results**

In [90]:
df_dts_cln['RESULT'].unique()

array(['Negative', 'Positive', 'neg', 'pos', 'ms', 'negative', 'positive',
       'Neg', 'Pos', 'MS', 'Positve', 'Positive ', nan, 'POSITIVE',
       'M2000'], dtype=object)

In [91]:
df_dts_cln['RESULT'].map(lambda x: x.strip().lower() if (isinstance(x, str)) else x).unique()

array(['negative', 'positive', 'neg', 'pos', 'ms', 'positve', nan,
       'm2000'], dtype=object)

In [92]:
def cln_results(x):
    if isinstance(x, str):
        x = x.strip().lower()
        if 'neg' in x:
            x = x.replace(x, 'Negative')
        elif 'pos' in x:
            x = x.replace(x, 'Positive')
        elif x == 'inconclusive':
            x = x.replace(x, 'Negative')
    return x

In [93]:
df_dts_cln['RESULT'] = df_dts_cln['RESULT'].map(lambda x: cln_results(x))

In [94]:
df_dts_cln['RESULT'].unique()

array(['Negative', 'Positive', 'ms', nan, 'm2000'], dtype=object)

In [95]:
df_dts_cln.head(2)

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,Unknown,2021-01-01,2021-01-01,Negative,2021-01-01
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31,2021-01-01,Negative,2021-01-01

### **Remove Duplicates**

In [96]:
df_cln_srt = df_dts_cln.sort_values(['S_NUM', 'DT_CONF'])

In [97]:
df_cln_srt[df_cln_srt.duplicated(['S_NUM', 'DT_CONF'], keep=False) == True]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
10061,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
11440,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
10062,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
11441,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
10063,COVC00710,45.0,M,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,COVC24610,69.0,M,NaN,Canada,Nairobi,Uthiru,No,NaN,NaN,Unknown,2021-10-01,2021-10-01,Negative,2021-10-01
414,COVC24611,43.0,F,NaN,Kenya,Nairobi,Nairobi,No,NaN,NaN,Unknown,2021-10-01,2021-10-01,Negative,2021-10-01
416,COVC24611,43.0,F,NaN,Kenya,Nairobi,Nairobi,No,NaN,NaN,Unknown,2021-10-01,2021-10-01,Negative,2021-10-01
25400,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",2021-03-04,NaT,Positive,2021-03-11
25526,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",2021-03-04,NaT,Positive,2021-03-11

In [98]:
df_cln_srt[df_cln_srt.duplicated(keep=False) == True]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
10061,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
11440,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
10062,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
11441,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
10063,COVC00710,45.0,M,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,Unknown,2020-06-09,2020-06-11,Negative,2020-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,COVC24610,69.0,M,NaN,Canada,Nairobi,Uthiru,No,NaN,NaN,Unknown,2021-10-01,2021-10-01,Negative,2021-10-01
414,COVC24611,43.0,F,NaN,Kenya,Nairobi,Nairobi,No,NaN,NaN,Unknown,2021-10-01,2021-10-01,Negative,2021-10-01
416,COVC24611,43.0,F,NaN,Kenya,Nairobi,Nairobi,No,NaN,NaN,Unknown,2021-10-01,2021-10-01,Negative,2021-10-01
25400,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",2021-03-04,NaT,Positive,2021-03-11
25526,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",2021-03-04,NaT,Positive,2021-03-11

In [99]:
df_dedud = df_cln_srt.drop_duplicates(['S_NUM', 'DT_CONF'], keep='first')#['COUNT_RES'].fillna('Unknown', inplace=True)

### **QC Dates**

In [100]:
sr_date_diff = df_dedud['DT_CONF'] - df_dedud['DT_SAM_COLL']

In [101]:
mask1 = sr_date_diff >= '60D'
mask2 = sr_date_diff != pd.NaT
mask3 = df_dedud['DT_SAM_COLL'] > df_dedud['DT_CONF']
# mask3 = df_dedud['DT_CONF']

In [102]:
df_dedud[mask1 == True]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
10268,COVC06893,50.0,F,Health Care Worker,Kenya,Nairobi,Mathare,No,NaN,None Indicated,Unknown,2020-05-10,NaT,Negative,2020-08-12
10556,COVC09826,30.0,M,PLUMBER,Kenya,Kwale,Samburu,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10557,COVC09827,39.0,F,BUSSINESS,Kenya,Kiambu,Kabete,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10558,COVC09828,24.0,M,BUSSINESS,Kenya,Nairobi,Iindustrial area,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10559,COVC09829,25.0,M,BUSSINESS,Kenya,Nairobi,Kariobangi south,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10560,COVC09830,36.0,F,STEWARD,Kenya,Kajiado,Kitengela,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10561,COVC09831,19.0,M,STUDENT,Kenya,Nairobi,Kibra,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10562,COVC09832,28.0,F,BUSSINESS,Kenya,Nairobi,Langata,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10563,COVC09833,25.0,F,STEWARD,Kenya,Nairobi,Kawangware,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10564,COVC09834,47.0,M,BUSSINESS,Kenya,Nairobi,Kawangware,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
10565,COVC09835,48.0,M,BUSSINESS,Kenya,Kiambu,Ruiru,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Positive,2020-12-09
10566,COVC09836,54.0,M,GOVERNMENT OFFICER,Kenya,Nairobi,Embakasi,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Positive,2020-12-09
10567,COVC09837,33.0,F,CIVIL SERVANT,Kenya,Nairobi,Pipeline,No,NaN,NaN,Unknown,2020-10-09,2020-11-09,Negative,2020-12-09
17467,COVC24171,29.0,M,Student,Kenya,Siaya,Nan,No,NaN,NaN,SB;NV;P-A;D;LA;LT;LS,2021-03-13,2021-08-19,Positive,2021-08-20
17468,COVC24172,24.0,F,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;RN;ST;CO;SB;NV;H;LA;LT;LS,2021-03-17,2021-08-19,Positive,2021-08-20
17469,COVC24173,30.0,F,Student,Kenya,Siaya,Nan,No,NaN,NaN,P-M;ST;CO;H;,2021-03-19,2021-08-19,Positive,2021-08-20
17470,COVC24174,40.0,F,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,RN;CO;H;,2021-03-31,2021-08-19,Positive,2021-08-20
17471,COVC24175,31.0,F,Health Care Worker,Kenya,Siaya,Nan,No,NaN,NaN,FC;RN;ST;CO;H;LA;LS,2021-04-01,2021-08-19,Positive,2021-08-20
17472,COVC24176,29.0,F,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,P-M;RN;CO;,2021-04-05,2021-08-19,Positive,2021-08-20
17473,COVC24177,25.0,F,Bussiness person/ Trader,Kenya,Siaya,Nan,No,NaN,NaN,Unknown,2021-04-18,2021-08-19,Positive,2021-08-20
17474,COVC24178,63.0,F,Bussiness person/ Trader,Kenya,Siaya,Nan,No,NaN,NaN,Unknown,2021-04-28,2021-08-19,Positive,2021-08-20
17475,COVC24179,69.0,M,None,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;ST;SB;P-A;D;,2021-05-14,2021-08-19,Positive,2021-08-20
17476,COVC24180,66.0,M,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,FC;SB;D;LS,2021-05-19,2021-08-19,Positive,2021-08-20
17477,COVC24181,42.0,M,Driver,Kenya,Siaya,Nan,No,NaN,NaN,FC;ST;CO;,2021-05-19,2021-08-19,Positive,2021-08-20
17478,COVC24182,30.0,F,Formal Employment,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;SB;,2021-05-22,2021-08-19,Positive,2021-08-20
17479,COVC24183,43.0,F,Formal Employment,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;RN;ST;CO;LT;,2021-05-22,2021-08-19,Positive,2021-08-20
17480,COVC24184,70.0,F,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,FC;SB;NV;H;P-A;LT;,2021-05-22,2021-08-19,Positive,2021-08-20
17481,COVC24185,80.0,M,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,FC;RN;ST;CO;,2021-05-22,2021-08-19,Positive,2021-08-20
17482,COVC24186,20.0,F,Student,Kenya,Siaya,Nan,No,NaN,NaN,FC;ST;SB;,2021-05-27,2021-08-19,Positive,2021-08-20
17483,COVC24187,24.0,F,Casual Labourer,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;ST;,2021-05-27,2021-08-19,Positive,2021-08-20
17484,COVC24188,67.0,F,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;ST;SB;D;,2021-05-28,2021-08-19,Positive,2021-08-20
17485,COVC24189,60.0,F,Formal Employment,Kenya,Siaya,Nan,No,NaN,NaN,FC;RN;ST;SB;,2021-05-31,2021-08-19,Positive,2021-08-20
17486,COVC24190,60.0,F,Formal Employment,Kenya,Siaya,Nan,No,NaN,NaN,FC;SB;P-A;LA;,2021-05-31,2021-08-19,Positive,2021-08-20
17487,COVC24191,79.0,F,Bussiness person/ Trader,Kenya,Siaya,Nan,No,NaN,NaN,FC;ST;SB;,2021-05-31,2021-08-19,Positive,2021-08-20
17488,COVC24192,58.0,F,Bussiness person/ Trader,Kenya,Siaya,Nan,No,NaN,NaN,FC;SB;P-A;D;,2021-05-31,2021-08-19,Positive,2021-08-20
17489,COVC24193,79.0,F,Formal Employment,Kenya,Siaya,Nan,No,NaN,NaN,Unknown,2021-06-01,2021-08-19,Positive,2021-08-20
17490,COVC24194,68.0,M,Formal Employment,Kenya,Siaya,Nan,No,NaN,NaN,Unknown,2021-06-01,2021-08-19,Positive,2021-08-20
17491,COVC24195,9.0,F,Student,Kenya,Siaya,Nan,No,NaN,NaN,FC;RN;ST;SB;,2021-06-03,2021-08-19,Positive,2021-08-20
17492,COVC24196,70.0,F,Bussiness person/ Trader,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;ST;LT;,2021-06-09,2021-08-19,Positive,2021-08-20
17493,COVC24197,68.0,F,None,Kenya,Siaya,Nan,No,NaN,NaN,FC;ST;SB;,2021-06-11,2021-08-19,Positive,2021-08-20
17494,COVC24198,78.0,F,None,Kenya,Siaya,Nan,No,NaN,NaN,P-M;RN;ST;SB;P-A;,2021-06-11,2021-08-19,Positive,2021-08-20
17495,COVC24199,22.0,M,Casual Labourer,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;RN;ST;CO;SB;NV;H;P-A;LA;LT;LS,2021-06-21,2021-08-19,Positive,2021-08-20
17496,COVC24200,42.0,F,Formal Employment,Kenya,Siaya,Nan,No,NaN,NaN,FC;P-M;CO;NV;H;LA;LT;,2021-06-21,2021-08-19,Positive,2021-08-20
18976,COVC24482,60.0,M,Bussiness,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;NV;P-A;LA;LT;LS,2021-07-02,2021-09-22,Positive,2021-09-23
18977,COVC24483,77.0,F,NaN,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;SB;P-A;LA;LT;LS,2021-07-02,2021-09-22,Positive,2021-09-23
18978,COVC24484,55.0,F,Bussiness,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;NV;P-A;D;LA;LT;LS,2021-07-08,2021-09-22,Positive,2021-09-23
18979,COVC24485,71.0,M,Procurement Officer,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;LA;LT;LS,2021-07-12,2021-09-22,Positive,2021-09-23
18980,COVC24486,60.0,M,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;NV;P-A;D;LA;LT;LS,2021-07-12,2021-09-22,Negative,2021-09-23
18981,COVC24487,32.0,M,Casual Lauborer,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;P-A;LA;LT;LS,2021-07-13,2021-09-22,Positive,2021-09-23
18982,COVC24488,84.0,M,Farmer,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;NV;P-A;LA;LT;LS,2021-07-16,2021-09-22,Positive,2021-09-23
18983,COVC24489,78.0,F,Bussiness,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;P-A;LA;LT;LS,2021-07-19,2021-09-22,Positive,2021-09-23
18984,COVC24490,36.0,M,Bussiness,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;NV;P-A;D;LA;LT;LS,2021-07-19,2021-09-22,Positive,2021-09-23
18985,COVC24491,60.0,F,Bussiness,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;NV;P-A;LA;LT;LS,2021-07-21,2021-09-22,Positive,2021-09-23
18986,COVC24492,64.0,M,Bussiness,Kenya,Siaya,Nan,No,NaN,NaN,FC;H;CO;P-J;RN;ST;SB;NV;P-A;D;LA;LT;LS,2021-07-22,2021-09-22,Positive,2021-09-23
25617,KEM-21-02-91850,25.0,M,NaN,Kenya,Kajiado,Ngoroi,No,NaN,NaN,Unknown,2021-02-08,2021-07-30,Positive,2021-09-02

### **Export Cleaned Data**

In [103]:
df_dedud.to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-results-merged-cln.xlsx", index=False)

In [104]:
df_dedud[df_dedud['RESULT'] == 'Positive'].to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-results-merged-cln-pos.xlsx", index=False)

In [105]:
df_dedud[df_dedud['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9721,COVE20,39.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,NaN,NaN,Unknown,2020-09-10,2020-09-10,Negative,2020-09-11
9722,COVE21,50.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,NaN,NaN,Unknown,2020-09-10,2020-09-10,Negative,2020-09-11
25696,COVM00449,29.0,M,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-08-08,2021-09-15,Positive,2021-08-08
25697,COVM00450,42.0,F,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-08-08,2021-09-15,Positive,2021-08-08
25698,COVM00451,NaN,NaN,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-08-08,2021-09-15,Positive,2021-08-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25651,NPHL-12780,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19
25655,NPHL1,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19
25656,NPHL2,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19
25657,NPHL3,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19
25658,NPHL4,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19

In [106]:
df_dedud[df_dedud['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9721,COVE20,39.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,NaN,NaN,Unknown,2020-09-10,2020-09-10,Negative,2020-09-11
9722,COVE21,50.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,NaN,NaN,Unknown,2020-09-10,2020-09-10,Negative,2020-09-11
25696,COVM00449,29.0,M,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-08-08,2021-09-15,Positive,2021-08-08
25697,COVM00450,42.0,F,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-08-08,2021-09-15,Positive,2021-08-08
25698,COVM00451,NaN,NaN,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-08-08,2021-09-15,Positive,2021-08-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25651,NPHL-12780,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19
25655,NPHL1,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19
25656,NPHL2,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19
25657,NPHL3,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19
25658,NPHL4,NaN,NaN,NaN,Kenya,Unknown,Nan,No,NaN,NaN,Unknown,NaT,2021-04-07,Positive,2021-04-19

11-09-2020

COVC9774
COVC9775
COVE20
COVE21
COVC9776
COVC9777

### **ID Misssing Data**

In [107]:
start = 0
df_missing = pd.DataFrame(columns=cols_rename)
for num in df_dedud['S_NUM'].sort_values():
#     curr_row = df_dts_cln[df_dts_cln['S_NUM']]
    try:
        curr = int(num.lstrip('COVC').lstrip('0'))
        
        if curr - start > 1:
            start_id = f'COVC{start}'
            cov_id = f'COVC{curr}'
            df_missing = df_missing.append(df_dts_cln[df_dts_cln['S_NUM'] == cov_names(start_id)])
            df_missing = df_missing.append(df_dts_cln[df_dts_cln['S_NUM'] == cov_names(cov_id)])
        start = curr
    except ValueError:
#         print(f'ValueError: {num}')
        pass

In [108]:
df_missing.head()

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [109]:
(df_missing[['S_NUM', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'DT_CONF']]
 .sort_values(['S_NUM', 'DT_CONF'])
 .drop_duplicates('S_NUM', keep='last')
 .to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-results-merged-missing.xlsx", index=False))

### **ID Missing Results**

In [110]:
(df_dts_cln[df_dts_cln['RESULT'].isin(['Positive', 'Negative']) == 
            False][['S_NUM', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'DT_CONF', 'RESULT']]
.to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-results-merged-results-missing.xlsx", index=False))

In [111]:
# plt.style.available

### **Metadata + Cts**

In [114]:
df_Cts = pd.read_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/runsheet-cts.xlsx")[['Sample_Name', 'Well_Position', 'Ct_Mean', 'Dt_Run']]

In [115]:
df_metCts = df_dedud.set_index('S_NUM').merge(df_Cts.set_index('Sample_Name'), how='outer', left_index=True, right_index=True).reset_index().rename(columns={'index': 'S_NUM', 'Ct_Mean': 'AVG_Ct'})

In [116]:
df_metCts.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF,Well_Position,AVG_Ct,Dt_Run
0,COVC00001,35.0,F,Refugee,NaN,Garissa,Dadaab,No,NaN,NaN,Unknown,NaT,NaT,Negative,2020-06-02,NaN,NaN,NaT
1,COVC00002,29.0,M,Refugee,NaN,Garissa,Dadaab,No,NaN,NaN,Unknown,NaT,NaT,Negative,2020-06-02,NaN,NaN,NaT
2,COVC00003,50.0,M,Refugee,NaN,Garissa,Dadaab,No,NaN,NaN,Unknown,NaT,NaT,Negative,2020-06-02,NaN,NaN,NaT
3,COVC00004,35.0,F,Casual,NaN,Garissa,Dadaab,No,NaN,NaN,Unknown,NaT,NaT,Negative,2020-06-02,NaN,NaN,NaT
4,COVC00005,27.0,F,Refugee,NaN,Garissa,Dadaab,No,NaN,NaN,Unknown,NaT,NaT,Negative,2020-06-02,NaN,NaN,NaT

In [117]:
df_metCts.to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-resultsCts-merged-cln.xlsx", index=False)

In [118]:
df_metCts.shape

(26308, 18)

In [119]:
df_metCts[df_metCts['RESULT'] == 'Positive'].to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/COVID19-resultsCts-merged-cln-pos.xlsx", index=False)

#### **Confirm updated file in the following cell**

In [120]:
df_sequenced_samples = pd.read_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/all-sequenced-samples-IDs_28-10-2021.xlsx")
seqd_list = list(df_sequenced_samples['SAMPLE'])

In [121]:
df_sequenced_samples.head()

      SAMPLE
0  COVC00854
1  COVC00867
2  COVC00893
3  COVC00915
4  COVC00962

In [122]:
df_dedud_pos = df_metCts[df_metCts['RESULT'] == 'Positive']
df_dedud_pos_unseq = df_dedud_pos[df_dedud_pos['S_NUM'].isin(seqd_list) == False]
df_dedud_pos_unseq.to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/all-unsequenced-pos-samples_{dt}.xlsx", index=False)

In [123]:
df_dedud_pos_unseq

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF,Well_Position,AVG_Ct,Dt_Run
136,COVC00137,45.0,M,Refugee,NaN,Garissa,Dadaab,No,NaN,Surveillance,Unknown,2020-05-31,NaT,Positive,2020-06-03,D09,37.6,2020-06-03 17:04:05
153,COVC00154,25.0,M,Refugee,NaN,Garissa,Dadaab,No,NaN,Surveillance,Unknown,2020-05-31,NaT,Positive,2020-06-03,F02,35.2,2020-06-03 17:04:05
484,COVC00485,29.0,M,Truck driver,NaN,Nairobi,Nairobi,Yes,Nairobi,Nil,Unknown,2020-06-07,2020-06-09,Positive,2020-06-09,NaN,NaN,NaT
516,COVC00517,39.0,M,NaN,NaN,Mombasa,Unknown,Yes,Mombasa,Nil,Unknown,2020-06-06,2020-06-09,Positive,2020-06-09,NaN,NaN,NaT
518,COVC00519,33.0,M,NaN,NaN,Mombasa,Likoni,Yes,Mombasa,Nil,Unknown,2020-06-06,2020-06-09,Positive,2020-06-09,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25855,COVM01414,NaN,NaN,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-05-31,2021-09-15,Positive,2021-05-31,NaN,NaN,NaT
25856,COVM01415,NaN,NaN,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-08-06,2021-09-15,Positive,2021-08-06,NaN,NaN,NaT
25857,COVM01416,NaN,NaN,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-08-06,2021-09-15,Positive,2021-08-06,NaN,NaN,NaT
25858,COVM01417,NaN,NaN,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,2021-06-19,2021-09-15,Positive,2021-06-19,NaN,NaN,NaT
25859,COVM01418,NaN,NaN,NaN,NaN,Nairobi,0,No,NaN,NaN,Unknown,NaT,NaT,Positive,NaT,H04,17.5,2021-10-06 13:47:50

In [124]:
df_dedud_pos = df_metCts[df_metCts['RESULT'] == 'Positive']
df_dedud_pos_seq = df_dedud_pos[df_dedud_pos['S_NUM'].isin(seqd_list) == True]
df_dedud_pos_seq.to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/all-sequenced-pos-samples_{dt}.xlsx", index=False)

### Positives 2021 - Unsequenced

In [125]:
df_dedud_pos_unseq_21 = df_dedud_pos_unseq[df_dedud_pos_unseq['DT_CONF'] >= pd.to_datetime('2021-01-01 00:00:00')]
df_dedud_pos_unseq_21.to_excel(f"{glob.glob(f'{parent_dir}/**/Outputs', recursive=True)[0]}/all-unsequenced-pos-samples-2021_{dt}.xlsx", index=False)